PORT=5000
DATABASE_URL="postgresql://synetra_user:synetra_password@host.docker.internal:5432/synetra_db?schema=public"
DIRECT_URL="postgresql://synetra_user:synetra_password@localhost:5432/synetra_db?schema=public"
CORS_ORIGIN="http://localhost:5001"
PUBLIC_APP_URL="http://localhost:5001"
UPLOADS_DIR="/app/uploads"
